
html{
  background-color: #112132;
}




Main{
  padding: 5px;
  background-color: #112132;
}

#Bullicon{
  max-height: 125px;
  max-width: 125px;
}

#Ticker{
  border: none;
  box-shadow: none;
  background-color: #0d1a26;
}

#searchButton{
  border: none;
  border-radius: 0px;
}

#badgex{
  margin-left: 10px;
}

#MainWindow{
  background-color: #0d1a26;

}

